.banner {
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.snow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

/* tạo 50 bông tuyết */
.snow::before,
.snow::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-image:
    radial-gradient(rgb(233, 12, 12) 2px, transparent 2px),
    radial-gradient(rgb(216, 15, 15) 3px, transparent 3px),
    radial-gradient(rgb(217, 16, 16) 1px, transparent 1px);
  background-size: 20px 20px, 30px 30px, 10px 10px;
  animation: snow 8s linear infinite;
}

.snow::after {
  animation-duration: 5s; /* lớp thứ 2 rơi chậm hơn */
  opacity: 0.6;
}

@keyframes snow {
  0%   { transform: translateY(0); }
  100% { transform: translateY(300px); }
}
