.snow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

/* tạo 50 bông tuyết */
.snow::before,
.snow::after {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 200%;
  height: 150%;
  top: -50%;
  left: -50%;
  background-image:
    radial-gradient(white 2px, transparent 2px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 20px 20px, 30px 30px, 10px 10px;
  opacity: 0.2;
}
/* LAYER 1 */
.snow::before {
  animation: snowMove1 40s linear infinite;
}

/* LAYER 2 (khác tốc độ để tạo cảm giác tự nhiên) */
.snow::after {
  animation: snowMove2 60s linear infinite;
  opacity: 0.2;
}

/* Rơi xéo liên tục bằng background-position */
@keyframes snowMove1 {
  0%   { background-position: 0 0; }
  100% { background-position: -500px 600px; }
}

@keyframes snowMove2 {
  0%   { background-position: 0 -200px; }
  100% { background-position: -500px 600px; }
}